
@import url("base.css");

:root {

    --name-role-font-family: var(--font-family-display);
  --header-height: 200px; /* לדוגמה */
  --header-img-bg : #fffaf2;
  --header-img-offset-x : 3px;
}